<include file="Home@Public/mobile_head_layui"/>
<body>

<div class="layui-container">
    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title">
            <li class="layui-this">
                <a href="/laydate/">按时间线排课</a>
            </li>
            <li>
                <a href="/doc/modules/laydate.html" target="_blank">按教室排课</a>
            </li>
        </ul>
    </div>
    <div class="layui-main">
        <div class="layui-card">
            <div class="layui-card-header">选择课程</div>
            <div class="layui-card-body">
                <div class="layui-row">
                    <div class="layui-col-xs6">
                        <button class="layui-btn layui-btn-radius">点击选择课程</button>
                    </div>
                    <div class="layui-col-xs6">
                        <button class="layui-btn layui-btn-primary">小升初衔接班</button>
                    </div>
                </div>
            </div>
        </div>
        <ul>
            <li>
                <form class="layui-form" action="">
                    <div class="layui-text">
                        <div class="layui-form-item">
                            <div class="layui-row">
                                <div class="layui-col-xs4">
                                    <label class="layui-form-label">上课时间</label>
                                </div>
                                <div class="layui-col-xs4">
                                    <input type="text" name="classdate" id="classdate" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" lay-key="1">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-row">
                                <div class="layui-col-xs4">
                                    <label class="layui-form-label">选择教室</label>
                                </div>
                                <div class="layui-col-xs4">
                                    <select name="interest" lay-filter="aihao">
                                        <option value=""></option>
                                        <option value="1" selected="">1教室</option>
                                        <option value="2">2教室</option>
                                        <option value="3">3教室</option>
                                        <option value="4">4教室</option>
                                        <option value="5">5教室</option>
                                        <option value="6">6教室</option>
                                        <option value="7">7教室</option>
                                        <option value="8">8教室</option>
                                        <option value="9">9教室</option>
                                        <option value="10">10教室</option>
                                        <option value="11">11教室</option>
                                        <option value="12">12教室</option>
                                        <option value="13">13教室</option>
                                    </select>
                                    <div class="layui-unselect layui-form-select">
                                        <div class="layui-select-title">
                                            <input type="text" placeholder="请选择" value="阅读" readonly="" class="layui-input layui-unselect">
                                            <i class="layui-edge"></i>
                                        </div>
                                        <dl class="layui-anim layui-anim-upbit" style="">
                                            <dd lay-value="" class="layui-select-tips">请选择</dd>
                                            <dd lay-value="0" class="">1教室</dd>
                                            <dd lay-value="1" class="layui-this">2教室</dd>
                                            <dd lay-value="2" class="">3教室</dd>
                                            <dd lay-value="3" class="">4教室</dd>
                                            <dd lay-value="4" class="">5教室</dd>
                                            <dd lay-value="2" class="">6教室</dd>
                                            <dd lay-value="3" class="">7教室</dd>
                                            <dd lay-value="4" class="">8教室</dd>
                                            <dd lay-value="2" class="">9教室</dd>
                                            <dd lay-value="3" class="">10教室</dd>
                                            <dd lay-value="4" class="">11教室</dd>
                                            <dd lay-value="2" class="">12教室</dd>
                                            <dd lay-value="3" class="">13教室</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-row">
                                <div class="layui-col-xs4">
                                    <label class="layui-form-label">上午课程</label>
                                </div>
                                <div class="layui-col-xs4">
                                    <input type="radio" name="less_seg" value="上午第一节" title="第一节" checked>
                                    <div class="layui-unselect layui-form-radio  layui-form-radioed">
                                        <i class="layui-anim layui-icon layui-anim-scaleSpring"></i>
                                        <div>第一节</div>
                                    </div>
                                </div>
                                <div class="layui-col-xs4">
                                    <input type="radio" name="less_seg" value="上午第二节" title="第二节">
                                    <div class="layui-unselect layui-form-radio">
                                        <i class="layui-anim layui-icon"></i>
                                        <div>第二节</div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-row">
                                <div class="layui-col-xs4">
                                    <label class="layui-form-label">下午课程</label>
                                </div>
                                <div class="layui-col-xs4">
                                    <input type="radio" name="less_seg" value="下午第一节" title="第一节">
                                    <div class="layui-unselect layui-form-radio">
                                        <i class="layui-anim layui-icon"></i>
                                        <div>第一节</div>
                                    </div>
                                </div>
                                <div class="layui-col-xs4">
                                    <input type="radio" name="less_seg" value="下午第二节" title="第二节">
                                    <div class="layui-unselect layui-form-radio">
                                        <i class="layui-anim layui-icon"></i>
                                        <div>第二节</div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-row">
                                <div class="layui-col-xs4"></div>
                                <div class="layui-col-xs4 layui-col-xs-offset4">
                                    <input type="radio" name="less_seg" value="下午第三节" title="第三节">
                                    <div class="layui-unselect layui-form-radio">
                                        <i class="layui-anim layui-icon"></i>
                                        <div>第三节</div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-row">
                                <div class="layui-col-xs4">
                                    <label class="layui-form-label">晚上课程</label>
                                </div>
                                <div class="layui-col-xs4">
                                    <input type="radio" name="less_seg" value="晚上第一节" title="第一节">
                                    <div class="layui-unselect layui-form-radio">
                                        <i class="layui-anim layui-icon"></i>
                                        <div>第一节</div>
                                    </div>
                                </div>
                                <div class="layui-col-xs4">
                                    <input type="radio" name="less_seg" value="晚上第二节" title="第二节">
                                    <div class="layui-unselect layui-form-radio">
                                        <i class="layui-anim layui-icon"></i>
                                        <div>第二节</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit="" lay-filter="course_submit">立即提交</button>
                            </div>
                        </div>
                        <p class="layui-form-item"></p>
                    </div>
                </form>
            </li>
        </ul>
        <ul id="LAY_timeline" class="layui-timeline">
        </ul>
    </div>
</div>

<script src="{:ADDON_PUBLIC_PATH}/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use(['form', 'layedit', 'laydate', 'flow'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate
            ,flow = layui.flow;      //流定义

        flow.load({
            elem: '#LAY_timeline' //流加载容器
            //,scrollElem: '#LAY_timeline' //滚动条所在元素，一般不用填，此处只是演示需要。
            //,isLazyimg:true
            ,done: function(page, next){ //执行下一页的回调

                //模拟数据插入
                setTimeout(function(){
                    var lis = [];
                    lis.push('<li class="layui-timeline-item"> \
                        <i class="layui-icon layui-timeline-axis"></i> \
                        <div class="layui-timeline-content layui-text"> \
                        <h3 class="layui-timeline-title">8月18日</h3> \
                        <p> \
                        上课教室：第1教室 <br> \
                        上课时间：上午第二节 <br> \
                        <i class="layui-icon"></i> \
                        </p> \
                        </div> \
                        </li>');

                    //执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
                    //pages为Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多
                    next(lis.join(''), page < 60); //假设总页数为 60
                }, 500);
            }
        });

        //日期
        laydate.render({
            elem: '#classdate'
        });
        laydate.render({
            elem: '#lesson_time',
            type: 'time'
        });

        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');

        //自定义验证规则
        form.verify({
            title: function(value){
                if(value.length < 5){
                    return '标题至少得5个字符啊';
                }
            }
            ,pass: [/(.+){6,12}$/, '密码必须6到12位']
            ,content: function(value){
                layedit.sync(editIndex);
            }
        });

        //监听指定开关
        form.on('switch(switchTest)', function(data){
            layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'), {
                offset: '6px'
            });
            layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
        });

        //监听提交
        form.on('submit(course_submit)', function(data){
            layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            })
            return false;
        });

        //表单初始赋值
        form.val('example', {
            "username": "贤心" // "name": "value"
            ,"password": "123456"
            ,"interest": 1
            ,"like[write]": true //复选框选中状态
            ,"close": true //开关状态
            ,"sex": "女"
            ,"desc": "我爱 layui"
        })


    });
</script>
<include file="Home@Public/mobile_foot"/>
</body>
</html>