<extend name="Home@Base/common" />
<block name="body">
    <style type="text/css">
        .money {
            width: 50px;
        }
        .specTable .param {
            display: none;
        }
        .specTable p {
            display: block;
            line-height: 50px;
        }
        .text-center {
            text-align: center;
        }
        .check-tips {
            color: #aaa;
            margin-left:2px;
        }
        .cf{
            margin-left:20px;
        }
        .class{
            height: 25px;
        }
        #lesson_sel {
            display: none;
        }
    </style>
    <!-- 标签页导航 -->
    <div class="span9 page_message">
        <section id="contents">
            <ul class="tab-nav nav">
                <volist name='nav' id='vo'>
                    <php> isset($vo['class']) || $vo['class'] = '';isset($vo['url']) || $vo['url'] = '#'; </php>
                    <li class="{$vo.class}"><a href="{$vo.url}">{$vo.title}</a></li>
                </volist>
            </ul>
            <div class="tab-content">
                <!-- 表单 -->
                <form id="form" action="{:U('import?model='.$model['id'])}" method="post" class="form-horizontal">
                    <div class="form-item cf">
                        <label class="item-label"><span class="need_flag">*</span>课程（仅列出正在进行和即将开课的课程）<span class="check-tips"></span></label>
                        <div class="controls">
                            <select name="course">
                                <volist name="lists" id="vo">
                                    <option value='{$vo.id}'>{$vo.id}. {$vo.site} {$vo.grade} {$vo.name} {$vo.teacher}老师</option>
                                </volist>
                            </select>
                        </div>
                    </div>
                    <div class="form-item cf">
                        <label class="item-label">关联课时<span class="check-tips">选中后上传的评语会被认为是老师根据课程的某次上课情况给出的评语！</span></label>
                        <div class="controls">
                            <input id ='bind_lesson' type="checkbox" name="bind_lesson" class="checkbox" placeholder="关联课时？" />
                        </div>
                    </div>
                    <div class="form-item cf" id="lesson_sel">
                        <label class="item-label"><span class="need_flag">*</span>课时<span class="check-tips"></span></label>
                        <div class="controls">
                            <select name="lesson_id" id="course_lesson">

                            </select>
                        </div>
                    </div>
                    <!--<div class="form-item cf">
                        <label class="item-label"><span class="need_flag">*</span>上课时间<span class="check-tips"></span></label>
                        <div class="controls">
                            <input type="datetime" name="classdate" class="text date" value="{$field.classdate)}" placeholder="请选择日期" />
                        </div>
                    </div>-->
                    <div class="form-item cf">
                        <label class="item-label"><span class="need_flag">*</span>学生评语Excel文件上传<span class="check-tips">请选择符合格式的.xls或.xlsx文件</span></label>
                        <div class="controls">
                            <div class="controls upload_file">
                                <div  id="upload_file_file_id" class="uploadrow_file"></div>
                                <input type="hidden" name="file_id" id="file_id" value="" data-fileexts='xlsx, xls' data-maxsize='20971520'/>
                                <div class="upload-img-box"></div>
                            </div>
                        </div>
                    </div>

                    <div class="form-item cf">
                        <label class="item-label"><span class="need_flag">*</span>描述<span class="check-tips">导入评语数据的说明，控制在100汉字以内</span></label>
                        <div class="controls">
                            <label class="textarea input-large">
                                <textarea class="text input-large" name="comment" >{$data.comment}</textarea>
                            </label>
                        </div>
                    </div>
                    <div class="form-item cf">
                        <label class="item-label"><span class="need_flag">*</span>是否发送？<span class="check-tips">选择是否同步发送微信通知消息？</span></label>
                        <div class="controls">
                            <input id = 'msgsend' type="checkbox" name="msgsend" class="checkbox" checked="checked" placeholder="是否发送？" />
                        </div>
                    </div>
                    <div class="form-item form_bh">
                        <input type="hidden" name="id" value="{$data.id}">
                        <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
                    </div>
                </form>
            </div>

    </div>
    </section>
    </div>
    </div>
</block>
<block name="script">
    <link href="__STATIC__/datetimepicker/css/datetimepicker.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
    <php> if(C('COLOR_STYLE')=='blue_color') echo '
        <link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
        '; </php>
    <link href="__STATIC__/datetimepicker/css/dropdown.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js?v={:SITE_VERSION}" charset="UTF-8"></script>
    <script type="text/javascript">
        $('#submit').click(function(){
            $('#form').submit();
        });
        $("select[name='course']").change(function () {
            $('#lesson_sel').hide();
            $("#course_lesson").empty();
            $("#bind_lesson").removeAttr("checked");//取消全选
        });
        $('#bind_lesson').click(function() {
            var course_id = $("select[name='course']").val();
            if ($('#bind_lesson').prop("checked")) {
                $.ajax({
                    url: "{:U('get_lesson')}",//提交访问的URL
                    type: 'post',//提交的方法
                    dataType: 'json',//返回的内容的类型，由于PHP文件是直接echo的，那么这里就是text
                    data: {"course_id": course_id},
                    timeout: 8000,//超时时间，单位毫秒
                    error: function(){ //如果出错，执行函数
                        console.log('Error on Ajax return!');
                    },
                    success: function(data){
                        $("#course_lesson").empty();
                        $.each(data, function (index, vo) {
                                $("#course_lesson").append("<option value=" + vo.id + ">" + "时段：" + vo.classdate + "--教室：" +vo.room+ "--第" + vo.sequence + "次" +  "</option>");
                            }
                        ); //如果成功，更新option项目
                    }
                });
                $('#lesson_sel').show();
            }
            else if(!$('#bind_lesson').prop("checked")){
                $('#lesson_sel').hide();/*.css('display','block')*/;
            }
        });

        $(function(){
            initUploadFile(function(data,name){
                var old_title = $('#file_title').val();
                if(old_title==''){
                    var title = data.name.replace('.'+data.ext, '');
                    $('#file_title').val(title);
                }
            });

            $('.time').datetimepicker({
                format: 'yyyy-mm-dd hh:ii',
                language:"zh-CN",
                minView:0,
                autoclose:true
            });
            $('.date').datetimepicker({
                format: 'yyyy-mm-dd',
                language:"zh-CN",
                minView:2,
                autoclose:true
            });
            showTab();
            hide_move();

            $('.select_type').each(function(){ select_type(this); });
            $('.select_type').change(function(){ select_type(this); });
        });

    </script>
</block>

