<extend name="Home@Base/common" />
<block name="body">
<style type="text/css">
.money {
	width: 50px;
}
.specTable .param {
	display: none;
}
.specTable p {
	display: block;
	line-height: 50px;
}
.text-center {
	text-align: center;
}
.check-tips {
	color: #aaa;
	margin-left:2px;
}
.cf{
	margin-left:20px;
}
</style>
  <!-- 标签页导航 -->
  <div class="span9 page_message">
    <section id="contents">
        <include file="Home@Addons/_nav" />
      <div class="tab-content"> 
        <!-- 表单 -->
        <form id="form" action="{:U('import?model='.$model['id'])}" method="post" class="form-horizontal">
            <div class="form-item cf">
                <label class="item-label">关键词<span class="check-tips"></span></label>
                <div class="controls">
                  <input type="text" class="text input-large" name="keyword" value="{$data.keyword}">
                </div>
              </div>
            <div class="form-item cf">
                <label class="item-label"><span class="need_flag">*</span>标题<span class="check-tips"></span></label>
                <div class="controls">
                  <input type="text" class="text input-large" name="title" value="{$data.title}">
                </div>
            </div>
            <div class="form-item cf">
                <label class="item-label"><span class="need_flag">*</span>此学员信息表对应的培训季<span class="check-tips">（务必选择相应季节，切莫留空）</span></label>
                <div class="controls">
                    <select name="season_id" placeholder="选择此课表对应的培训季">
                        <volist name="season_list" id="vo">
                            <option value='{$vo.id}'>{$vo.id}. {$vo.season_name}</option>
                        </volist>
                    </select>
                </div>
            </div>

            <div class="form-item cf">
                <label class="item-label"><span class="need_flag">*</span>资料文件<span class="check-tips">文件大小控制在5M以内</span></label>
                <div class="controls">
                    <div class="controls upload_file">
                        <div  id="upload_file_file_id" class="uploadrow_file"></div>
                        <input type="hidden" name="file_id" id="file_id" value="" data-fileexts='xls,xlsx' data-maxsize='5242880'/>
                        <div class="upload-img-box"></div>
                    </div>
                </div>
            </div>

            <div class="form-item cf">
                <label class="item-label">描述<span class="check-tips">导入学生数据说明，控制在100汉字以内</span></label>
                <div class="controls">
                  <label class="textarea input-large">
                  <textarea class="text input-large" name="comment" >{$data.comment}</textarea>
                  </label>
                </div>
            </div>
            <div class="form-item form_bh">
                  <input type="hidden" name="id" value="{$data.id}">
                  <input type="hidden" value="" name="file_title" id="file_title" class="text input-large">
                  <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            </div>
        </form>
      </div>
</div>
</section>
</div>
</div>
</block>
<block name="script">
  <link href="__STATIC__/datetimepicker/css/datetimepicker.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
  <php> if(C('COLOR_STYLE')=='blue_color') echo '
    <link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
    '; </php>
  <link href="__STATIC__/datetimepicker/css/dropdown.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script> 
  <script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js?v={:SITE_VERSION}" charset="UTF-8"></script> 
  <script type="text/javascript">
$('#submit').click(function(){
    $('#form').submit();
});

$(function(){
    initUploadFile(function(data,name){
        var old_title = $('#file_title').val();
        if(old_title==''){
            var title = data.name.replace('.'+data.ext, '');
            $('#file_title').val(title);
        }
    });
	
    $('.time').datetimepicker({
        format: 'yyyy-mm-dd hh:ii',
        language:"zh-CN",
        minView:0,
        autoclose:true
    });

	
	$('.select_type').each(function(){ select_type(this); });
	$('.select_type').change(function(){ select_type(this); });
});

</script>
</block>
