<extend name="Home@Base/common" />

<block name="body">

    <!-- 标签页导航 -->
    <div class="span9 page_message">
        <section id="contents">
            <include file="Home@Addons/_nav" />
            <div class="tab-content">
                <!-- 表单 -->
                <weiphp:form model="form_model" action="form_action" method="form_method" id="form_id" class="form_class"></weiphp:form>
                <form id="form_2" action="{:U('course_reg')}" method="post" class="form-horizontal form-center">
                    <div class="form-item cf">
                        <label class="item-label"><span class="need_flag">*</span>选课管理</label>
                        <div style="margin:15px 0;" class="specTable data-table">
                            <table cellspacing="1" cellpadding="0">
                                <thead>
                                <tr>
                                    <th align="center">课程选择</th>
                                    <th align="center">课时段选择</th>
                                    <th align="center">操作</th>
                                </tr>
                                </thead>
                                <tbody id="list_data_tbody">

                                <tr class="list_tr" id="btr">
                                    <td align="center">
                                        <select name="course">
                                            <volist name="course_list" id="vo">
                                                <option value='{$vo.id}'>{$vo.id}. {$vo.site} {$vo.grade} {$vo.name}
                                                    {$vo.teacher}老师
                                                </option>
                                            </volist>
                                        </select>
                                    </td>
                                    <td align="center">
                                        <select name="lesson_id" id="course_lesson">
                                        </select>
                                    </td>
                                    <td id="input_claster">
                                        <a href="javascript:void(0);" onclick="add_tr()" class="move_up">选中</a>
                                        <a href="javascript:void(0);" onclick="empty_tr()" class="move_up">清空</a>
                                        <input type="hidden" value="{$studentno}" name="studentno_old">
                                        <volist name="student_course" id="vo">
                                            <input type="hidden" value="{$vo.course_value}" name="c_{$vo.c_id}">
                                            <input type="hidden" value="{$vo.lesson_value}" name="l_{$vo.c_id}">
                                        </volist>
                                    </td>
                                </tr>
                                <volist name="student_course" id="vo">
                                    <tr class="list_tr" id="tr_{$vo.id}">
                                        <td>
                                            {$vo.course_item}
                                        </td>
                                        <td>
                                            {$vo.lesson_item}
                                        </td>
                                        <td></td>
                                    </tr>
                                </volist>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="form-item form_bh" style="text-align:center">
                        <notempty name="data.id"><input type="hidden" name="id" value="{$data.id}"></notempty>
                        <button class="btn submit-btn ajax-post" id="submit_2" type="button" target-form="form-horizontal">选课内容提交</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
</block>
<block name="script">
    <link href="__STATIC__/datetimepicker/css/datetimepicker.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
    <php> if(C('COLOR_STYLE')=='blue_color') echo '
        <link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
        '; </php>
    <link href="__STATIC__/datetimepicker/css/dropdown.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js?v={:SITE_VERSION}" charset="UTF-8"></script>
    <script type="text/javascript">
        $('#submit').click(function(){
            $('#form').submit();
        });

        $('#submit_2').click(function(){
            $('#form_2').submit();
        });

        //增加课程
        var tr_sort_id = 0;
        var id_str = $('#list_data_tbody tr:last').attr('id');
        var str_array = id_str.split("_");
        tr_sort_id = parseInt(str_array[1]) + 1;
        function add_tr(){
            var course_item = $("select[name='course'] option:selected").text();
            var course_val = $("select[name='course'] option:selected").val();
            var lesson_item = $("select[name='lesson_id'] option:selected").text();
            var lesson_val = $("select[name='lesson_id'] option:selected").val();
            console.log("Course item is: ", course_item);
            console.log("Course value is: ", course_val);
            var html_tr = '<tr class="list_tr" id="tr_'+ tr_sort_id + '" >' + '<td>' + course_item + '</td>'  + '<td>' + lesson_item + '</td>' + '<td></td>'+ '</tr>';
            var html_input = '<input type="hidden" value="' + course_val + '" name="c_' + course_val + '"> <input type="hidden" value="' + lesson_val + '" name="l_' + course_val + '">';
            $("#list_data_tbody").append(html_tr);
            $("#input_claster").append(html_input);
            tr_sort_id++;
        }

        function empty_tr (){
            $("[id^=tr_]").remove();
            $("input[name^=c_]").remove();
            $("input[name^=l_]").remove();
            /*var i;
            console.log("tr_sort_id: ",tr_sort_id);
            for (i = 0; i <= tr_sort_id; i++) {
                console.log("removing: ","tr_"+i);
                $("#tr_" + i).remove();
            }*/
        }

        $("select[name='course']").change(function () {
            course_id = $("select[name='course']").val();
            $.ajax({
                url: "{:U('get_1st_lesson')}",//提交访问的URL
                type: 'get',//提交的方法
                dataType: 'json',//返回的内容的类型，由于PHP文件是直接echo的，那么这里就是text
                data: {"course_id": course_id},
                timeout: 8000,//超时时间，单位毫秒
                error: function(){ //如果出错，执行函数
                    console.log('Error on Ajax return!');
                },
                success: function(data){
                    $("select[name='lesson_id']").empty();
                    $.each(data, function (index, vo) {
                            $("select[name='lesson_id']").append("<option value=" + vo.bat + ">" + vo.bat + "课时第" + vo.sequence + "次时段：" + vo.classdate + "--教室：" + vo.room +  "</option>");
                        }
                    ); //如果成功，更新option项目
                }
            });
        });

        $('#student_btn').click(function() {
            ReloadData();
        });

        function ReloadData() {
            var studentno = $("input[name='studentno']").val();
            $.ajax({
                url: "{:U('get_student_info')}",//提交访问的URL
                type: 'post',//提交的方法
                dataType: 'json',//返回的内容的类型，由于PHP文件是直接echo的，那么这里就是text
                data: {"studentno": studentno},
                timeout: 1000,//超时时间
                error: function(){ //如果出错，执行函数
                    console.log('Error on Ajax return!');
                },
                success: function(vo){
                    $("#student_info").empty();

                    if (!vo.studentno) {
                        $("#student_sec").hide();
                    }
                    else {
                        $("#student_sec").show();
                        $("#student_info").append("<p>" + "姓名：" + vo.name + "--性别：" +vo.gender+ "--年级：" + vo.grade +  "</p>");
                        $("#student_info").append("<p>" + "家长电话：" + vo.phone + "--备用电话：" +vo.phone_bck +  "</p>");
                        //如果成功，更新学生信息
                    }
                }
            });
        };

        $(function(){
            initUploadFile(function(data,name){
                var old_title = $('#file_title').val();
                if(old_title==''){
                    var title = data.name.replace('.'+data.ext, '');
                    $('#file_title').val(title);
                }
            });
            var course_id = $("select[name='course']").val();
            $.ajax({
                url: "{:U('get_1st_lesson')}",//提交访问的URL
                type: 'get',//提交的方法
                dataType: 'json',//返回的内容的类型，由于PHP文件是直接echo的，那么这里就是text
                data: {"course_id": course_id},
                timeout: 8000,//超时时间，单位毫秒
                error: function(){ //如果出错，执行函数
                    console.log('Error on Ajax return!');
                },
                success: function(data){
                    $("select[name='lesson_id']").empty();
                    $.each(data, function (index, vo) {
                            $("select[name='lesson_id']").append("<option value=" + vo.bat + ">" + vo.bat + "课时第" + vo.sequence + "次时段：" + vo.classdate + "--教室：" + vo.room +  "</option>");
                        }
                    ); //如果成功，更新option项目
                }
            });

            var is_new = parseInt("{$is_new}");
            if(!is_new) $("input[name=studentno]").attr("readonly","readonly");


            $('.time').datetimepicker({
                format: 'yyyy-mm-dd hh:ii',
                language:"zh-CN",
                minView:0,
                autoclose:true
            });
            $('.date').datetimepicker({
                format: 'yyyy-mm-dd',
                language:"zh-CN",
                minView:2,
                autoclose:true
            });
            showTab();
            //hide_move();

            $('.select_type').each(function(){ select_type(this); });
            $('.select_type').change(function(){ select_type(this); });
        });

    </script>
</block>
