<include file="Home@Public/mobile_head_mui"/>
<body>
	
	<!-- 主界面不动、菜单移动 -->
	<!-- 侧滑导航根容器 -->
	<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable">
	  <!-- 菜单容器 -->
	  <aside class="mui-off-canvas-left" id="offCanvasSide">
	    <div id="offCanvasSideScroll" class="mui-scroll-wrapper">
	      <div class="mui-scroll">
			  <!-- 菜单具体展示内容 -->
			  <div id="menu-slider" class="menu-wrapper">
				  <div id="menu" class="menu">
					  <a class="" href="{:U('index?cat2=1')}">高中资料</a>
					  <a href="{:U('index?cat2=2')}">初中资料</a>
					  <!--<a href="{:U('index?cat2=3')}">小学资料</a>-->
					  <!--<a href="{:U('index?cat2=4')}">综合资料</a>-->
				  </div>
			  </div>
			<div id="menu-backdrop" class="menu-backdrop"></div>
	      </div>
	    </div>
	  </aside>
	  <!-- 主页面容器 -->
	  <div class="mui-inner-wrap">
	    <!-- 主页面标题 -->
	    <header class="mui-bar mui-bar-nav header">
	    	<a class="mui-icon mui-action-menu mui-icon-bars mui-pull-left"  href="#offCanvasSide" ></a>
		    <h1 class="mui-title"><a href=""><img src="{:ADDON_PUBLIC_PATH}/MUI/images/haha_logo_t.png"/></a></h1>
		    <a class="mui-icon mui-icon-search mui-pull-right" href=""></a>
	    </header>
	    
		<!--<nav class="m-bar mui-bar-tab footer">
			<ul class="footer-page clearfix">
				<li class="mui-tab-item active">
					<a href="index.html">
						<i class="iconfont icon-index"></i>
						<p>首页</p>
					</a>
				</li>
				<li class="mui-tab-item">
					<a href="entrance.html">
						<i class="iconfont icon-computer"></i>
						<p>自助评估</p>
					</a>
				</li>
				<li class="mui-tab-item">
					<a href="ask.html">
						<i class="iconfont icon-ask"></i>
						<p>咨询帮助</p>
					</a>
				</li>
				<li class="mui-tab-item">
					<a href="user-center.html">
						<i class="iconfont icon-person1"></i>
						<p>个人中心</p>
					</a>
				</li>
			</ul>
		</nav>-->
		
	    <div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper">
	      <div class="mui-scroll">
	        <!-- 主界面具体展示内容 -->
			<div class="mui-content">
				<!--图片轮播-->
				
				<!--导航-->
				<!--<ul class="nav">
					<li>
						<a href="evaluation.html">
							<img src="{:ADDON_PUBLIC_PATH}/MUI/images/icon.png" />
							<p>学业评估</p>
						</a>
					</li>
					<li>
						<a href="category.html">
							<img src="{:ADDON_PUBLIC_PATH}/MUI/images/icon3.png" />
							<p>高中</p>
						</a>
					</li>
					<li>
						<a href="ranking.html">
							<img src="{:ADDON_PUBLIC_PATH}/MUI/images/icon2.png" />
							<p>排行榜</p>
						</a>
					</li>
					<li>
						<a href="special.html">
							<img src="{:ADDON_PUBLIC_PATH}/MUI/images/icon1.png" />
							<p>中考专题</p>
						</a>
					</li>
				</ul>-->
				<!--
			        	作者：flexpad2011@gmail.com
			        	时间：2017-06-04
			        	描述：中考新闻
			        -->
			    <!--每日精选-->
				<div class="index-title">
					<span>嗨题有术</span>
					<!--<a href="">显示全部<i class="mui-icon mui-icon-arrowright"></i></a>-->
				</div>
				<div class="classify">
					<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
						<div class="mui-scroll">
							<a href="{:U('lists?cat1=1')}" class="item">
								<img src="{:ADDON_PUBLIC_PATH}/MUI/images/zhentibaodian1.jpg" />
								<p>真题宝典</p>
							</a>
							<a href="{:U('lists?cat1=2')}" class="item">
								<img src="{:ADDON_PUBLIC_PATH}/MUI/images/qiaosimiaojie1.jpg" />
								<p>巧思妙解</p>
							</a>
							<a href="{:U('lists?cat1=3')}" class="item">
								<img src="{:ADDON_PUBLIC_PATH}/MUI/images/meizhouyibo1.jpg" />
								<p>每周一拨</p>
							</a>
							<a href="{:U('lists?cat1=4')}" class="item">
								<img src="{:ADDON_PUBLIC_PATH}/MUI/images/dengnilaihai1.jpg" />
								<p>等你来嗨</p>
							</a>
							<input type="hidden" name="cat1" value="{$cat1}" class="mui-input-clear">
							<input type="hidden" name="cat2" value="{$cat2}" class="mui-input-clear">
						</div>
					</div>
				</div>
				
				<!--题库-->
				<div class="index-title">
					<span>题库列表</span>
					<a href="{:U('lists?cat1=' . $cat1. '&cat2=' . $cat2)}">显示全部<i class="mui-icon mui-icon-arrowright"></i></a>
				</div>
				<ul class="mui-table-view fresh-comment">
					<volist name="data" id="vo">
						<li>
							<a href="{:U('detail?id='.$vo['id'])}">

								<img src="{$vo.image_id|get_square_url=200}" />
								<div class="text">
									<h2>{$vo.title}</h2>
									<p>{$vo.description}</p>
								</div>
								<div class="score">
									<span>{$vo.subject}</span>
								</div>
							</a>
						</li>
					</volist>
				</ul>
				<!--专题推荐-->
				<div class="index-title">
					<span>精选</span>
					<a href="">显示全部<i class="mui-icon mui-icon-arrowright"></i></a>
				</div>
				<div class="special">
					<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
						<div class="mui-scroll">
							<a href="" class="item"><img src="{:ADDON_PUBLIC_PATH}/MUI/images/tj1.png" /></a>
							<a href="" class="item"><img src="{:ADDON_PUBLIC_PATH}/MUI/images/tj.png" /></a>
							<a href="" class="item"><img src="{:ADDON_PUBLIC_PATH}/MUI/images/tj4.png" /></a>
							<a href="" class="item"><img src="{:ADDON_PUBLIC_PATH}/MUI/images/tj3.png" /></a>
						</div>
					</div>
				</div>
				<!--广告-->
				<div class="advantage">
					<a href=""><img src="{:ADDON_PUBLIC_PATH}/MUI/images/haha_sig3.jpg" /></a>
				</div>
			</div>
	      </div>
	    </div>  
	    <div class="mui-off-canvas-backdrop"></div>
	  </div>
	</div>
	<script type="text/javascript" charset="utf-8">
	    mui.init({
			getstureConfig: {
			    longtap: true,
				doubletap: true,
				swipe: true,
				drag: true,
				hold: true,
				release: true
            }});
	    //侧滑容器父节点
		var offCanvasWrapper = mui('#offCanvasWrapper');

		//主界面容器
		var offCanvasInner = offCanvasWrapper[0].querySelector('.mui-inner-wrap');
		 //菜单容器
		var offCanvasSide = document.getElementById("offCanvasSide");

		 //移动效果是否为整体移动
		var moveTogether = false;
		 //侧滑容器的class列表，增加.mui-slide-in即可实现菜单移动、主界面不动的效果；
		var classList = offCanvasWrapper[0].classList;
		offCanvasWrapper.offCanvas().refresh();

		 //主界面和侧滑菜单界面均支持区域滚动；
		mui('#offCanvasSideScroll').scroll();
		mui('#offCanvasContentScroll').scroll();
		 //实现ios平台原生侧滑关闭页面；
		if (mui.os.plus && mui.os.ios) {
			mui.plusReady(function() { //5+ iOS暂时无法屏蔽popGesture时传递touch事件，故该demo直接屏蔽popGesture功能
				plus.webview.currentWebview().setStyle({
					'popGesture': 'none'
				});
			});
		}
	</script>
	
	
	<!--
    	作者：flexpad2011@gmail.com
    	时间：2017-06-04
    	描述：侧滑菜单
    -->
	<!--显示下拉-->
	
	

	<script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js?v={:SITE_VERSION}"></script>
    <!--<script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/MUI/js/jquery-1.10.1.min.js?v={:SITE_VERSION}" ></script>-->
	<!--<script type="text/javascript" src="js/mui.js"></script>-->
    <script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/MUI/js/app.js?v={:SITE_VERSION}" ></script>
    <!--<script type="text/javascript" scr="school/js/basic.js"></script>-->
</body>
</html>