<include file="Home@Public/mobile_head_mui"/>
<style>
	#refreshContainer {
		top: 3.6rem;
	}

</style>


<body>

	<header class="mui-bar mui-bar-nav header">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" href="{:U('index')}"></a>
		<a class="mui-icon mui-icon-bars mui-pull-right" href="javascript:;" id="menu-btn"></a>
		<h1 class="mui-title"><a href=""><img src="{:ADDON_PUBLIC_PATH}/MUI/images/haha_logo_t.png"/></a></h1>
	</header>
	<!--显示下拉-->
	<div id="menu-wrapper" class="menu-wrapper hidden">
		<!--<div id="menu" class="menu">
			<a class="current" href="index.html">首页</a>
			<a href="evaluation.html">测评</a>
			<a href="special.html">专题</a>
			<a href="ranking.html">排行榜</a>
			<a href="category.html">类别</a>
		</div>-->
	</div>
	<div id="menu-backdrop" class="menu-backdrop"></div>


	<div class="mui-content">
		<div class="classify">
			<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
				<div class="mui-scroll">
					<a href="" class="item">
						<img src="{:ADDON_PUBLIC_PATH}/MUI/images/jx4.png" />
						<p>真题宝典</p>
					</a>
					<a href="" class="item">
						<img src="{:ADDON_PUBLIC_PATH}/MUI/images/jx2.jpg" />
						<p>巧思妙解</p>
					</a>
					<a href="" class="item">
						<img src="{:ADDON_PUBLIC_PATH}/MUI/images/jx5.jpg" />
						<p>每周一拨</p>
					</a>
					<a href="" class="item">
						<img src="{:ADDON_PUBLIC_PATH}/MUI/images/jx6.png" />
						<p>等你来嗨</p>
					</a>
				</div>
			</div>
		</div>

		<!--下拉刷新容器-->
		<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
			<div class="mui-scroll">
				<!--数据列表-->
				<ul class="mui-table-view mui-table-view-chevron fresh-comment">
					<volist name="data" id="vo">
						<li>
							<a href="{:U('detail?id='.$vo['id'])}">

								<img src="{$vo.image_id|get_square_url=200}" />
								<div class="text">
									<h2>{$vo.title}</h2>
									<p>{$vo.description}</p>
								</div>
								<div class="score">
									<span>{$vo.subject}</span>
								</div>
							</a>
						</li>
					</volist>
				</ul>
			</div>
		</div>
	</div>

	<script type="text/javascript" charset="utf-8">
	    mui.init({
			getstureConfig: {
			    longtap: true,
				doubletap: true,
				swipe: true,
				drag: true,
				hold: true,
				release: true
            },
            pullRefresh : {
                container:"#refreshContainer",//待刷新区域标识，querySelector能定位的css选择器均可，比如：id、.class等
                up : {
                    height:50,//可选.默认50.触发上拉加载拖动距离
                    auto:true,//可选,默认false.自动上拉加载一次
                    contentrefresh : "正在加载...",//可选，正在加载状态时，上拉加载控件上显示的标题内容
                    contentnomore:'没有更多数据了',//可选，请求完毕若没有更多数据时显示的提醒内容；
                    callback :pullfresh //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
                }
            }
	    });


        var menuWrapper = document.getElementById("menu-wrapper");
        var menu = document.getElementById("menu");
        var menuWrapperClassList = menuWrapper.classList;
        var backdrop = document.getElementById("menu-backdrop");
        var info = document.getElementById("info");

        backdrop.addEventListener('tap', toggleMenu);
        document.getElementById("menu-btn").addEventListener('tap',toggleMenu)

        var busying = false;
        function toggleMenu() {
            if (busying) {
                return;
            }
            busying = true;
            if (menuWrapperClassList.contains('mui-active')) {
                document.body.classList.remove('menu-open');
                menuWrapper.className = 'menu-wrapper fade-out-up animated';
                menu.className = 'menu bounce-out-up animated';
                setTimeout(function() {
                    backdrop.style.opacity = 0;
                    menuWrapper.classList.add('hidden');
                }, 500);
            } else {
                document.body.classList.add('menu-open');
                menuWrapper.className = 'menu-wrapper fade-in-down animated mui-active';
                menu.className = 'menu bounce-in-down animated';
                backdrop.style.opacity = 1;
            }
            setTimeout(function() {
                busying = false;
            }, 500);
        }

        var page = 1;

        function pullfresh(res) {
            var url = "{:U('WeiXiao/WapStudymaterial/lists')}";
            var cat1 = 5;
			$.post(url, {cat1: cat1, page: page}, function(res) {
                if (res != false) page++;
                console.log('res is: ', res);
                console.log('PAGE IS: ', page);
                setTimeout(function() {
                    mui('#refreshContainer').pullRefresh().endPullupToRefresh((res == false)); //参数为true代表没有更多数据了。
                    var table = document.body.querySelector('.mui-table-view');
                    var cells = document.body.querySelectorAll('.mui-table-view-cell');
                    //json = JSON.parse(res);
                    $.each(res, function(index, array) {
                        var li = document.createElement('li');
                        //li.className = 'mui-table-view-cell';
                        str = '<a href="' + array.url+ '"><img src="' +array.image_url + '" />' +
							'<div class="text"><h2>'+ array.title + '</h2><p>' +
							array.description + '</p></div>' +
                        	'<div class="score"><span>' + array.subject + '</span></div></a>';
                        li.innerHTML = str;
                        table.appendChild(li);
					});

                }, 1500);
			});
        }
	</script>
	
	
	<!--
    	作者：flexpad2011@gmail.com
    	时间：2017-06-04
    	描述：侧滑菜单
    -->
	<!--显示下拉-->
	<script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js?v={:SITE_VERSION}"></script>
    <script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/MUI/js/app.js?v={:SITE_VERSION}" ></script>
</body>
</html>